.FriendCard {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.ContainerFio {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: self-start;
}

.ContainerInfo {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: self-start;
}

.Info {
  padding: 20px;
  display: flex;
  flex-direction: column;
}
