.FriendsPage {

}

.headerCard {
  display: flex;
}
.Counter {
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--icon-redesigned);
  color: var(--text-redesigned);
}