
.accordionItem {
    margin-bottom: 16px;
    border-radius: 7px;
    background-color: transparent;
}
.accordionHeader {
    background-color: var(--light-bg-redesigned);
    color: var(--text-redisigned);
    position: relative;
    width: 100%;
    padding: 20px;
    border: 0;
    border-radius: 20px;
    cursor: pointer;
    font-size: var(--font-size-l);

    & {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
}

.accordionCollapse {
    height: 0;
    overflow: hidden;
    transition: height 0.3s;
}
.accordionBody{
    color: var(--text-redesigned);
    font-size: var(--font-size-m);
}

.open{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    overflow: hidden;
    transition: height 0.5s;
    border: 2px solid var(--light-bg-redesigned);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;

}

.close{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 0;
    overflow: hidden;
    transition: height 0.5s ease;
}
