.FriendsPage {

}

.headerCard {
  display: flex;
}
.Counter {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  width: 20px;
  height: 20px;
  background-color: var(--cancel-redesigned);
}