.Conteiner{
    display: flex;
    margin-top: 20px;
    flex-direction: column;
    align-items: center;
}
.hrContent{
    margin-top: 50px;
}
.tableLinksButtons{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    width: 50%;
}